<%= form_for @conn, @action, [method: "put"], fn f -> %>
  <div>
    <label>
       やること: <%= text_input f, :title %>
    </label>
    <label>
      かいすう: <%= number_input f, :expect %>
    </label>
    <%= submit "Save" %>
  </div>
<% end %>
