<h1>Show Day</h1>

<div>
  <%= for t  <- @trainings do %>
    <div>
      <%= t.title %>
      <%= t.expect %>
      <%= t.current %>
    </div>
  <% end %>
</div>


<%= render "form.html", Map.put(assigns, :action, Routes.day_path(@conn, :update, @user.id, day: @day)) %>
